body {
    background: linear-gradient(99.9deg, rgba(103, 215, 255, 0.5) 0%, rgba(251, 143, 208, 0.5) 100%);
}

#content-rect {
    background: linear-gradient(107.08deg, rgba(233, 233, 233, 0.65) 0%, rgba(255, 255, 255, 0.65) 99.99%);
    backdrop-filter: blur(4px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

#app {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-our {
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    width: 100px;
    padding: 0;
    margin: 5px;
}

.row-our {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-our2 {
    background: linear-gradient(107.08deg, rgba(233, 233, 233, 0.65) 0%, rgba(255, 255, 255, 0.65) 99.99%);
    backdrop-filter: blur(4px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;

    width: 53px;
    height: 53px;
}

.cross {
    background: url("/assets/plus%201.png");
    background-size: cover;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    width: 30px;
    height: 30px;
}

.btn-our-delete {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    background: url("/assets/image%208.png") no-repeat;
    background-size: cover;
}

.container-our {
    max-width: 700px;
}
